*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
}

.container{
    max-width: 800px;
    min-height: 300px;
    margin: 0 auto;
    background-color: #ffe5d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

#book-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.book-card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-card h3{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.book-card p{
    font-size: 0.9rem;
    color: #555;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ff6347;
}

.book-buttons{

    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.book-buttons button{
 width: 60%;   
 padding: 3px 8px;
 
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog {

  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

dialog button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 15px;
}

form button {
    display: flex;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}